<section id="projects">
    <div class="wrapper">
        <div class="text-center">
            <h1 class="blue-title">Projects</h1>
        </div>
        <div id="vertical-timeline" class="light-timeline">

            <div class="vertical-timeline-block">
                <div class="vertical-timeline-icon">
                    <i class="fa fa-paw" aria-hidden="true"></i>
                </div>
                <div class="vertical-timeline-content">
                    <h4><a>Code for &lt;Django By Example&gt; Book</a></h4>
                    <p>
						<span>一本书《django by example》的代码！ 附带总结说明! </span>
						<div>
							<a
                                class="github-button" 
                                href="https://github.com/DrCBin/code-of-django-by-example-book"
                                data-count-href="/DrCBin/code-of-django-by-example-book/stargazers"
                                data-count-api="/repos/DrCBin/code-of-django-by-example-book#stargazers_count" 
                                data-count-aria-label="# stargazers on GitHub" 
                                aria-label="Star on GitHub"
                            >Star</a>

							<a
                                class="github-button" 
                                href="https://github.com/DrCBin/code-of-django-by-example-book/fork"
                                data-count-href="/DrCBin/code-of-django-by-example-book"
                                data-count-api="/repos/DrCBin/code-of-django-by-example-book#forks_count" 
                                data-count-aria-label="# forks on GitHub" 
                                aria-label="Fork on GitHub">Fork</a>
						</div>
					</p>
                </div>
            </div>
        </div>
    </div>
</section>
